
.example1 {
  height: 2rem;
  overflow: hidden;
  position: relative;
  background-color: #8fe3cf4e;
  /* white-space: nowrap;  */
  /* <--- FIX */
}

.example1 h6 {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 2rem;
  text-align: center;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: example1 40s linear infinite;
  -webkit-animation: example1 40s linear infinite;
  animation: example1 40s linear infinite;
}


/* Move it (define the animation) */

@-moz-keyframes example1 {
  0% {
      -moz-transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes example1 {
  0% {
      -webkit-transform: translateX(100%);
  }
  100% {
      -webkit-transform: translateX(-100%);
  }
}

@keyframes example1 {
  0% {
      -moz-transform: translateX(100%);
      /* Firefox bug fix */
      -webkit-transform: translateX(100%);
      /* Firefox bug fix */
      transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
      /* Firefox bug fix */
      -webkit-transform: translateX(-100%);
      /* Firefox bug fix */
      transform: translateX(-100%);
  }
}

.example1 h6:hover {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}