<nz-page-header nzBackIcon>
  <nz-page-header-title>کارتابل شخصی ادمین</nz-page-header-title>
  <nz-page-header-content>
    <nz-tabset nzType="line">
      <nz-tab nzTitle="اسناد پیش نویس">
        <nz-card>
          <div fxLayout="column" fxLayoutGap="20px">
            <div fxLayout="column">
              <h6>مسیر ثبت شده در درختواره</h6>
              <nz-breadcrumb nzSeparator=">">
                <nz-breadcrumb-item>...</nz-breadcrumb-item>
                <nz-breadcrumb-item>
                  <a>...</a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>...</nz-breadcrumb-item>
              </nz-breadcrumb>
            </div>
            <!-- <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
              <button nz-button nzType="primary">مشاهده</button>

              <button nz-button nzType="default">رد کردن درخواست</button>

              <button nz-button nzType="primary" (click)="addDocumentModal()">
                افزودن مستندات تکمیلی
              </button>
            </div> -->
            <nz-table
              #basicTable
              class="table-responsive"
              [nzData]="draftsDocs"
            >
              <thead>
                <tr>
                  <th>ردیف</th>
                  <th>عنوان</th>
                  <th>موضوع</th>
                  <th>عملیات</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of basicTable.data; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ data.title }}</td>
                  <td>{{ data.subject }}</td>
                  
                  <td>
                    <a
                      nz-dropdown
                      [nzDropdownMenu]="menu"
                      nz-button
                      nzType="link"
                    >
                      <i nz-icon nzType="down"></i>
                      عملیات
                    </a>

                    <nz-dropdown-menu #menu="nzDropdownMenu">
                      <ul nz-menu nzSelectable>
                        <li nz-menu-item [routerLink]="['/','drafts',data]">مشاهده</li>
                        <li nz-menu-item>رد کردن درخواست</li>
                        <li nz-menu-item>افزودن مستندات تکمیلی</li>
                      </ul>
                    </nz-dropdown-menu>
                  </td>
                </tr>
              </tbody>
            </nz-table>
            <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
              <button
                nz-button
                nzType="primary"
                (click)="observeGroupModalComponent()"
              >
                ابلاغ
              </button>

              <button nz-button nzType="default">انصراف</button>
            </div>
          </div>
        </nz-card>
      </nz-tab>

      <!-- <nz-tab nzTitle="اسناد آماده ابلاغ">
        <nz-card>
          <div fxLayout="column" fxLayoutGap="20px">
            <div fxLayout="column">
              <h6>مسیر ثبت شده در درختواره</h6>
              <nz-breadcrumb nzSeparator=">">
                <nz-breadcrumb-item>...</nz-breadcrumb-item>
                <nz-breadcrumb-item>
                  <a>...</a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>...</nz-breadcrumb-item>
              </nz-breadcrumb>
            </div>

            <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
              <button nz-button nzType="primary">مشاهده</button>

              <button nz-button nzType="default">رد کردن درخواست</button>

              <button nz-button nzType="primary" (click)="addDocumentModal()">
                افزودن مستندات تکمیلی
              </button>

              <button nz-button nzType="primary" >
                افزودن به بوک مارک
              </button>
            </div>
            <nz-table #basicTable class="table-responsive">
              <thead>
                <tr>
                  <th>ردیف</th>
                  <th>انتخاب</th>
                  <th>عنوان</th>
                  <th>موضوع</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of basicTable.data">
                  <td>{{ data.name }}</td>
                  <td>{{ data.age }}</td>
                  <td>{{ data.address }}</td>
                  <td>
                    <a>Action 一 {{ data.name }}</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a>Delete</a>
                  </td>
                </tr>
              </tbody>
            </nz-table>
            <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
              <button
                nz-button
                nzType="primary"
                (click)="observeGroupModalComponent()"
              >
                ابلاغ
              </button>

              <button nz-button nzType="default">انصراف</button>
            </div>
          </div>
        </nz-card>
      </nz-tab> -->
    </nz-tabset>
  </nz-page-header-content>
</nz-page-header>
