<nz-page-header nzTitle=" لیست اعلانات" nzBackIcon>
  <nz-page-header-content>
    <nz-table
      class="table-responsive"
      #rowSelectionTable
      nzShowSizeChanger
      [nzData]="listOfMessages"
      
    >
      <thead>
        <tr>
          <th>ردیف</th>
          <th>نام</th>
          <th>عملیات</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data; let i = index">
          <td>{{ i + 1 }}</td>
      
          <td>{{ data.messageText }}</td>

          <td>
            <a nz-dropdown [nzDropdownMenu]="menu" nz-button nzType="link">
              <i nz-icon nzType="down"></i>
              عملیات
            </a>

            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item (click)="createNotificationModal(data)">مشاهده</li>
                <!-- <li nz-menu-item>حذف</li> -->
              
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-page-header-content>
</nz-page-header>
