<nz-page-header nzTitle=" لیست bookmark" nzBackIcon>
  <nz-page-header-content>
    <nz-table
      class="table-responsive"
      #table
      nzShowSizeChanger
      [nzData]="data"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    >
      <thead>
        <tr>
          <th>ردیف</th>
          <th
            [nzSelections]="listOfSelection"
            [(nzChecked)]="checked"
            [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)"
          >
            انتخاب
          </th>
          <th>نام</th>
          <th>عملیات</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of table.data; let i = index">
          <td>{{ i + 1 }}</td>
          <td
            [nzChecked]="setOfCheckedId.has(item.id)"
            (nzCheckedChange)="onItemChecked(item.id, $event)"
          ></td>
          <td>{{ item.name }}</td>

          <td>
            <a nz-dropdown [nzDropdownMenu]="menu" nz-button nzType="link">
              <i nz-icon nzType="down"></i>
              عملیات
            </a>

            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item (click)="createShowBookMarkModal(item.id)">مشاهده</li>
                <li nz-menu-item (click)="createRenameBookmarkModal(item.id)">تغییر نام</li>
                <li nz-menu-item (click)="createDeleteBookmarkModal(item.id)">حذف</li>
                
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-page-header-content>
</nz-page-header>
