<div class="advanced-container">
  <form nz-form [formGroup]="uploadFileForm">
    <nz-card nzTitle="اطلاعات نامه">
      <div>
        <nz-form-item fxFlex="90">
          <nz-form-label nzRequired nzFor="title" style="display: flex"
            >عنوان</nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              nzSize="large"
              formControlName="title"
              type="text"
              id="title"
              placeholder="عنوان را وارد کنید"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div>
        <nz-form-item fxFlex="90">
          <nz-form-label nzRequired nzFor="subject" style="display: flex"
            >موضوع</nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              nzSize="large"
              formControlName="subject"
              type="text"
              id="subject"
              placeholder="موضوع را وارد کنید"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div>
        <nz-form-item fxFlex="90">
          <nz-form-label nzRequired nzFor="text" style="display: flex"
            >متن بخشنامه</nz-form-label
          >
          <nz-form-control>
            <textarea
              nz-input
              nzSize="large"
              formControlName="text"
              type="text"
              id="text"
              placeholder="متن بخشنامه را وارد کنید"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
        <nz-form-item fxFlex="33">
          <nz-form-label nzRequired nzFor="categoryId" style="display: flex"
            >سطح</nz-form-label
          >
          <nz-form-control>
            <nz-select
              fxFlex="100"
              id="categoryId"
              nzSize="large"
              formControlName="categoryId"
              nzPlaceHolder="سطح 1 "
            >
              <nz-option nzValue="1" nzLabel="سطح 1"></nz-option>
              <nz-option nzValue="2" nzLabel="سطح 2"></nz-option>
              <nz-option nzValue="3" nzLabel="سطح 3"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item fxFlex="33">
          <nz-form-label nzRequired nzFor="documentType" style="display: flex">
            نوع سند</nz-form-label
          >
          <nz-form-control>
            <nz-select
              fxFlex="100"
              nzSize="large"
              id="documentType"
              formControlName="documentType"
              nzPlaceHolder="نوع سند"
            >
              <nz-option nzValue="circular" nzLabel="بخشنامه"></nz-option>
              <nz-option nzValue="enteral" nzLabel="داخلی"></nz-option>
              <nz-option nzValue="center bank" nzLabel="بانک مرکزی"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item fxFlex="33">
          <nz-form-label nzRequired nzFor="versionNumber" style="display: flex"
            >شماره نسخه</nz-form-label
          >
          <nz-form-control>
            <nz-select
              fxFlex="100"
              id="versionNumber"
              nzSize="large"
              formControlName="versionNumber"
              nzPlaceHolder="شماره نسخه"
            >
              <nz-option nzValue="1" nzLabel="اولین"></nz-option>
              <nz-option nzValue="2" nzLabel="دومین"></nz-option>
              <nz-option nzValue="3" nzLabel="سومین"></nz-option>
              <nz-option nzValue="4" nzLabel="چهارمین"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
        <nz-form-item fxFlex="33">
          <nz-form-label nzRequired nzFor="branchName" style="display: flex"
            >نام شعبه</nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              nzSize="large"
              formControlName="branchName"
              type="text"
              id="branchName"
              placeholder="نام شعبه را وارد کنید"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item fxFlex="33">
          <nz-form-label nzRequired nzFor="ruleNumber" style="display: flex"
            >شماره سند</nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              nzSize="large"
              formControlName="ruleNumber"
              type="text"
              id="ruleNumber"
              placeholder="شماره سند را وارد کنید"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </nz-card>

    <nz-card nzTitle="افزودن روابط مرتبط">
      <div fxFlex="90">
        <nz-tabset nzSize="large" nzType="card" style="margin: 1rem">
          <nz-form-item
            ><nz-form-control>
              <nz-tab nzTitle="مرتبط" id="related" formControlName="related">
                <div fxLayout="row" fxLayoutGap="10px" fxLayout.lt-md="column">
                  <div fxFlex="10">
                    <button
                      nz-button
                      nzType="primary"
                      style="margin-left: 1%"
                      (click)="createAddFileModalComponent()"
                    >
                      افزودن
                    </button>
                  </div>
                  <div fxFlex="10">
                    <button nz-button nzType="default" style="margin-left: 1%">
                      حذف
                    </button>
                  </div>
                  <div fxFlex="10">
                    <button nz-button nzType="primary" style="margin-left: 1%">
                      مشاهده
                    </button>
                  </div>
                </div>
                <nz-table #basicTable style="margin-top: 1rem">
                  <thead>
                    <tr>
                      <th>ردیف</th>
                      <th>انتخاب</th>
                      <th>عنوان</th>
                      <th>موضوع</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of basicTable.data">
                      <td>{{ data.name }}</td>
                      <td>{{ data.age }}</td>
                      <td>{{ data.address }}</td>
                      <td>
                        <a>Action 一 {{ data.name }}</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a>Delete</a>
                      </td>
                    </tr>
                  </tbody>
                </nz-table></nz-tab
              ></nz-form-control
            ></nz-form-item
          >
          <nz-form-item
            ><nz-form-control>
              <nz-tab
                nzTitle="اصلاحیه"
                formControlName="amendment"
                id="amendment"
              >
                <div fxLayout="row" fxLayoutGap="10px" fxLayout.lt-md="column">
                  <div fxFlex="10">
                    <button
                      nz-button
                      nzType="primary"
                      style="margin-left: 1%"
                      (click)="createAddFileModalComponent()"
                    >
                      افزودن
                    </button>
                  </div>
                  <div fxFlex="10">
                    <button nz-button nzType="default" style="margin-left: 1%">
                      حذف
                    </button>
                  </div>
                  <div fxFlex="10">
                    <button nz-button nzType="primary" style="margin-left: 1%">
                      مشاهده
                    </button>
                  </div>
                </div>
                <nz-table #basicTable style="margin-top: 1rem">
                  <thead>
                    <tr>
                      <th>ردیف</th>
                      <th>انتخاب</th>
                      <th>عنوان</th>
                      <th>موضوع</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of basicTable.data">
                      <td>{{ data.name }}</td>
                      <td>{{ data.age }}</td>
                      <td>{{ data.address }}</td>
                      <td>
                        <a>Action 一 {{ data.name }}</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a>Delete</a>
                      </td>
                    </tr>
                  </tbody>
                </nz-table></nz-tab
              ></nz-form-control
            ></nz-form-item
          >
          <nz-form-item
            ><nz-form-control>
              <nz-tab
                nzTitle="الحاقیه"
                formControlName="addendum"
                id="addendum"
              >
                <div fxLayout="row" fxLayoutGap="10px" fxLayout.lt-md="column">
                  <div fxFlex="10">
                    <button
                      nz-button
                      nzType="primary"
                      style="margin-left: 1%"
                      (click)="createAddFileModalComponent()"
                    >
                      افزودن
                    </button>
                  </div>
                  <div fxFlex="10">
                    <button nz-button nzType="default" style="margin-left: 1%">
                      حذف
                    </button>
                  </div>
                  <div fxFlex="10">
                    <button nz-button nzType="primary" style="margin-left: 1%">
                      مشاهده
                    </button>
                  </div>
                </div>
                <nz-table #basicTable style="margin-top: 1rem">
                  <thead>
                    <tr>
                      <th>ردیف</th>
                      <th>انتخاب</th>
                      <th>عنوان</th>
                      <th>موضوع</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of basicTable.data">
                      <td>{{ data.name }}</td>
                      <td>{{ data.age }}</td>
                      <td>{{ data.address }}</td>
                      <td>
                        <a>Action 一 {{ data.name }}</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a>Delete</a>
                      </td>
                    </tr>
                  </tbody>
                </nz-table></nz-tab
              ></nz-form-control
            ></nz-form-item
          >
        </nz-tabset>
      </div>
    </nz-card>

    <nz-card nzTitle="افزودن کلمات کلیدی">
      <div>
        <nz-form-item fxFlex="90">
          <nz-form-label nzRequired nzFor="keywords" style="display: flex"
            >کلمه کلیدی</nz-form-label
          >
          <nz-form-control>
            <input
              nz-input
              nzSize="large"
              formControlName="keywords"
              type="text"
              id="keywords"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div
        fxLayout="row"
        fxLayoutGap="10px"
        fxLayout.lt-md="column"
        style="margin: 1rem"
      >
        <div fxFlex="10">
          <button
            nz-button
            nzType="primary"
            style="margin-left: 1%"
            (click)="createAddFileModalComponent()"
          >
            افزودن
          </button>
        </div>
        <div fxFlex="10">
          <button nz-button nzType="default" style="margin-left: 1%">
            حذف
          </button>
        </div>
        <div fxFlex="10">
          <button nz-button nzType="primary" style="margin-left: 1%">
            به روز رسانی
          </button>
        </div>
      </div>
      <nz-table #basicTable>
        <thead>
          <tr>
            <th>ردیف</th>
            <th>انتخاب</th>
            <th>عنوان</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.name }}</td>
            <td>{{ data.age }}</td>
            <td>{{ data.address }}</td>
            <td>
              <a>Action 一 {{ data.name }}</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a>Delete</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
    <div class="result">
      <button nz-button nzType="primary" style="margin-left: 1%">تایید</button>
      <button nz-button nzType="default">انصراف</button>
    </div>
  </form>
</div>
