.ant-page-header>*{
  margin: 0;
  padding: 0;
}

.header-layout {
  border-left: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  color: white;
  background-color: #fff3af;
}
a {
  color: black;
}

.logo {
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
  img {
   width: 23.5%;
  }
}

.bg-size {
  margin: 0 !important;
  padding: 0 !important;
  height: auto;
}
