<!-- <div class="container">
  <div *nzModalTitle>
    ایجاد شده در تاریخ : {{ notification.CreatedAt  }}
  </div>
  <div
    class="container notification"
    fxFlex="100%"
    fxLayout="column"
    fxLayoutGap="16px"
 
  >
    <span  >
      {{ notification.message }}
    </span>
  </div>
</div> -->


<!-- <nz-page-header>
  <nz-page-header-title>
    <div fxLayout="column"> 
      <span>فرستنده : {{item.sender}}</span>
      <span> گیرنده : {{item.receiver}}</span>
    </div>
  </nz-page-header-title>
  <nz-page-header-content>

      {{item.message}}
  </nz-page-header-content>
</nz-page-header> -->


<nz-list nzBordered >
  <nz-list-item >
    <span><strong>فرستنده : </strong>{{message.sender}}</span>
    </nz-list-item>
    <nz-list-item >
    <span> <strong>گیرنده :</strong> {{message.receiver}}</span>
  </nz-list-item>
  <nz-list-item>
    <span> <strong>متن پیام :</strong> {{message.messageText}}</span>
  </nz-list-item>
</nz-list>