<form nz-form [formGroup]="form" nzLayout="vertical">
  <nz-form-item>
    <nz-form-label nzFor="name">نام کاربر</nz-form-label>
    <nz-form-control>
      <input
        formControlName="name"
        nz-input
        nzSize="large"
        type="text"
        id="name"
      />
    </nz-form-control>
  </nz-form-item>

  <!-- <nz-form-item>
    <nz-form-label nzFor="password">رمز </nz-form-label>
    <nz-form-control>
      <input
        formControlName="password"
        nz-input
        nzSize="large"
        type="text"
        id="password"
      />
    </nz-form-control>
  </nz-form-item> -->

  <nz-form-item>
    <nz-form-label nzFor="email">ایمیل</nz-form-label>
    <nz-form-control>
      <input
        formControlName="email"
        nz-input
        nzSize="large"
        type="text"
        id="email"
      />
    </nz-form-control>
  </nz-form-item>
</form>
