.login{
    &__container{
       // background-color: #fafafa;
        background-color: #002044;
        background-image: linear-gradient(135deg, #002044 0%, #194d5f 100%);
        
    }
}

.logo{
    width: 90px;
}

.color{
    background-color: #C84B31;
    color: #fff;
}