.login{
    &__container{
       // background-color: #fafafa;
        background-color: #002B5B;
        background-image: linear-gradient(135deg, #002B5B 0%, #0064d6 100%);
        
    }
}

.logo{
    width: 90px;
}