<div class="advanced-container container">
  <form nz-form [formGroup]="FileForm">
    <div fxLayout="column" fxLayoutGap="15px">
      <nz-card nzTitle="اطلاعات سند">
        <div>
          <nz-form-item fxFlex="90">
            <nz-form-label nzRequired nzFor="title" style="display: flex"
              >عنوان</nz-form-label
            >
            <nz-form-control>
              <input
                nz-input
                readonly
                nzSize="large"
                formControlName="title"
                type="text"
                id="title"
                placeholder="عنوان را وارد کنید"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div>
          <nz-form-item fxFlex="90">
            <nz-form-label nzRequired nzFor="subject" style="display: flex"
              >موضوع</nz-form-label
            >
            <nz-form-control>
              <input
                readonly
                nz-input
                nzSize="large"
                formControlName="subject"
                type="text"
                id="subject"
                placeholder="موضوع را وارد کنید"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div>
          <nz-form-item fxFlex="90">
            <nz-form-label nzRequired nzFor="text" style="display: flex"
              >متن بخشنامه</nz-form-label
            >
            <nz-form-control>
              <textarea
                nz-input
                readonly
                nzSize="large"
                formControlName="text"
                type="text"
                id="text"
                placeholder="متن بخشنامه را وارد کنید"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
        <!-- <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
          <nz-form-item fxFlex="33.3">
            <nz-form-label nzRequired nzFor="categoryId" style="display: flex"
              >سطح 1 {{ levelName }}</nz-form-label
            >
            <nz-form-control> </nz-form-control>
          </nz-form-item>
          <nz-form-item fxFlex="33.3">
            <nz-form-label nzRequired nzFor="categoryId" style="display: flex"
              >سطح 2</nz-form-label
            >
            <nz-form-control> </nz-form-control>
          </nz-form-item>
          <nz-form-item fxFlex="33.3">
            <nz-form-label nzRequired nzFor="categoryId" style="display: flex"
              >سطح 3</nz-form-label
            >
            <nz-form-control> </nz-form-control>
          </nz-form-item>
        </div> -->
        <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
          <nz-form-item fxFlex="33">
            <nz-form-label
              nzRequired
              nzFor="documentType"
              style="display: flex"
            >
              نوع سند</nz-form-label
            >
            <nz-form-control>
              <nz-select
                fxFlex="100"
                nzSize="large"
                id="documentType"
                formControlName="documentType"
                nzPlaceHolder="نوع سند"
                nzDisabled
              >
                <nz-option
                  *ngFor="let key of keys"
                  [nzValue]="key"
                  [nzLabel]="documentTypeEnum[key]"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item fxFlex="33">
            <nz-form-label
              nzRequired
              nzFor="versionNumber"
              style="display: flex"
              >شماره نسخه</nz-form-label
            >
            <nz-form-control>
              <nz-select
                fxFlex="100"
                id="versionNumber"
                nzSize="large"
                formControlName="versionNumber"
                nzPlaceHolder="شماره نسخه"
                nzDisabled
              >
                <nz-option
                  *ngFor="let keyV of keysV"
                  [nzValue]="keyV"
                  [nzLabel]="versionNumberEnum[keyV]"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column">
          <nz-form-item fxFlex="33">
            <nz-form-label nzRequired nzFor="branchName" style="display: flex"
              >نام شعبه</nz-form-label
            >
            <nz-form-control>
              <input
                nz-input
                readonly
                nzSize="large"
                formControlName="branchName"
                type="text"
                id="branchName"
                placeholder="نام شعبه را وارد کنید"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item fxFlex="33">
            <nz-form-label nzRequired nzFor="ruleNumber" style="display: flex"
              >شماره سند</nz-form-label
            >
            <nz-form-control>
              <input
                nz-input
                readonly
                nzSize="large"
                formControlName="ruleNumber"
                type="text"
                id="ruleNumber"
                placeholder="شماره سند را وارد کنید"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </nz-card>

      <nz-card nzTitle="بارگذاری فایل" [nzCover]="coverTemplate">
        <nz-card-meta
          nzTitle="نام فایل : {{ name }}"
          nzDescription="نوع فایل : {{ mimeType }} "
        ></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img nz-image [nzSrc]="href" alt="فایل" />
      </ng-template>

      <nz-card nzTitle=" کلمات کلیدی">
        <div>
          {{ keywordsArray }}
        </div>
      </nz-card>
    </div>
  </form>
</div>
