<form nz-form nzLayout="vertical" [formGroup]="form">
  <nz-form-item>
    <nz-form-label nzRequired nzFor="message">متن پیام </nz-form-label>
    <nz-form-control>
    
      <div class="editor">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
        </ngx-editor-menu>
        <ngx-editor [editor]="editor"  formControlName="message">
        </ngx-editor>
      </div>
    
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="branches">ارسال به </nz-form-label>
    <nz-form-control>
     
      <nz-tree-select
        formControlName="branches"
        (ngModelChange)="onChange($event)"
        [nzNodes]="branch"
        id="branches"
        nzShowSearch
        nzCheckable
        nzPlaceHolder="لیست شعب "
      ></nz-tree-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired nzFor="messageReceivers">کاربران </nz-form-label>
    <nz-form-control>
      <nz-select
        nzMode="tags"
        nzPlaceHolder="نام کاربران"
        id="messageReceivers"
        formControlName="messageReceivers"
      >
        <nz-option
          *ngFor="let option of listOfUsers"
          [nzLabel]="option.label"
          [nzValue]="option.value"
        ></nz-option>
      </nz-select>
    
    </nz-form-control>
  </nz-form-item>
</form>
