<form nz-form nzLayout="vertical" [formGroup]="form">
  <nz-form-item>
    <nz-form-label nzRequired>شعبه </nz-form-label>
    <nz-form-control>
      <nz-tree-select
        formControlName="branches"
        (ngModelChange)="onChange($event)"
        [nzNodes]="nodes"
        nzShowSearch
        nzCheckable
        nzPlaceHolder="لیست شعب "
      ></nz-tree-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>نام کاربر </nz-form-label>
    <nz-form-control>
      <nz-select
        [nzMaxMultipleCount]="1"
        nzMode="tags"
        nzPlaceHolder="نام کاربران"
        formControlName="users"
      >
        <nz-option
          *ngFor="let option of listOfUsers"
          [nzLabel]="option.name"
          [nzValue]="option.id"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

</form>
