<div class="tree-container">
 
  <form nz-form [formGroup]="form" (ngSubmit)="onSearchSubmit()">
    <div
      fxLayout.gt-sm="row"
      fxLayout.sm="row"
      fxLayout.xs="column"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
    >
      <nz-form-item>
        <nz-form-control>
          <div style="display: flex">
            <input
              style="width: fit-content"
              formControlName="searchNode"
              nz-input
              nzSize="large"
              type="text"
              id="search"
              placeholder="جستجو در درختواره"
            />
            <button nz-button nzType="primary" nzSize="large">
              <span nz-icon nzType="search" nzTheme="outline"></span>
            </button>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
  <nz-tree-view [nzTreeControl]="treeControl" [nzDataSource]="dataSource">
    <nz-tree-node *nzTreeNodeDef="let node" nzTreeNodePadding>
      <a
        nz-dropdown
        [nzDropdownMenu]="menu"
        nzTrigger="click"
        (click)="getNodeContent(node.id)"
       
      >
        <span nz-icon nzType="setting" nzTheme="outline"></span>
        {{ node.label }}
      </a>

      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable style="width: 150px">
          <li nz-menu-item>
            <button
              nz-button
              nzType="text"
              nzSize="small"
              (click)="createEditNodeModal(node)"
            >
              <span nz-icon nzType="edit" nzTheme="outline"></span>
              ویرایش
            </button>
          </li>
          <li nz-menu-item>
            <button
              nz-button
              nzType="text"
              nzSize="small"
              (click)="createAddNodeModal(node)"
            >
              <span nz-icon nzType="plus" nzTheme="outline"></span>
              اضافه
            </button>
          </li>
          <li nz-menu-item>
            <button
              nz-button
              nzType="text"
              nzSize="small"
              (click)="createDeleteNodeModal(node)"
            >
              <span nz-icon nzType="minus" nzTheme="outline"></span>
              حذف
            </button>
          </li>

          <li nz-menu-item>
            <button
              nz-button
              nzType="text"
              nzSize="small"
              [routerLink]="['/', 'customer', 'uploadFile', node.id]"
              *ngIf="node.level !== 0"
            >
              <span nz-icon nzType="file-add" nzTheme="outline"></span>
              بارگذاری فایل
            </button>
          </li>
        </ul>
      </nz-dropdown-menu>
    </nz-tree-node>

    <nz-tree-node *nzTreeNodeDef="let node; when: hasChild" nzTreeNodePadding>
      <nz-tree-node-toggle *ngIf="!node.loading">
        <span nz-icon nzType="caret-down" nzTreeNodeToggleRotateIcon></span>
      </nz-tree-node-toggle>
      <nz-tree-node-toggle *ngIf="node.loading" nzTreeNodeNoopToggle>
        <span nz-icon nzType="loading" nzTreeNodeToggleActiveIcon></span>
      </nz-tree-node-toggle>
      <a
        nz-dropdown
        [nzDropdownMenu]="menu"
        nzTrigger="click"
        [routerLink]="['/', 'customer', 'rules', 'detail', node.id]"
      >
        <span nz-icon nzType="setting" nzTheme="outline"></span>
        {{ node.label }}
      </a>

      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable style="width: 150px">
          <li nz-menu-item>
            <button
              nz-button
              nzType="text"
              nzSize="small"
              (click)="createEditNodeModal(node)"
            >
              <span nz-icon nzType="edit" nzTheme="outline"></span>
              ویرایش
            </button>
          </li>
          <li nz-menu-item>
            <button
              nz-button
              nzType="text"
              nzSize="small"
              (click)="createAddNodeModal(node)"
            >
              <span nz-icon nzType="plus" nzTheme="outline"></span>
              اضافه
            </button>
          </li>
          <li nz-menu-item>
            <button
              nz-button
              nzType="text"
              nzSize="small"
              (click)="createDeleteNodeModal(node)"
            >
              <span nz-icon nzType="minus" nzTheme="outline"></span>
              حذف
            </button>
          </li>

          <li nz-menu-item>
            <button
              nz-button
              nzType="text"
              nzSize="small"
              [routerLink]="['/', 'customer', 'uploadFile', node.id]"
              *ngIf="node.level === 2"
            >
              <span nz-icon nzType="file-add" nzTheme="outline"></span>
              بارگذاری فایل
            </button>
          </li>
        </ul>
      </nz-dropdown-menu>
    </nz-tree-node>
  </nz-tree-view>
</div>
