.item-container{
    padding: 20px 10px;
    background-color: #8fe3cf4d;
}

.item-title{
    font-weight: 500;
    font-size: large;
    padding: 5px 0;
}
.tag{
    width: 10%;
}
.bdirection{
    direction: ltr; 
}
// .bookmark:hover {background-color: #FFE898}
// .pdf:hover{background-color: #E3FCBF;}
// .more:hover{background-color: #8fe3cf8a;}
// .warn:hover{background-color: #FF5D5D;}
// .send:hover{background-color: #8CC0DE;}

@media screen and (max-width:425px){
    // .tag{
    //   width: 15%;
    // }
  }