<div class="container" fxLayout="column" fxLayoutGap="20px">
  <section class="item-container">
    <div fxLayout="row" dir="ltr" fxLayout.lt-md="column">
      <img src="../../../../assets/images/expiredLogo.png" class="tag" />
      <h3 class="item-title">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem,
        aut rerum? Rem sit libero, quam enim omnis, suscipit eius distinctio
        dignissimos fuga doloremque deleniti, magnam eligendi in illum quas
        corrupti.
      </h3>
    </div>
    <div fxLayout="row" fxLayoutGap="16px" fxLayout.lt-sm="column">
      <button nz-button nzType="text">
        متن بخشنامه
        <small><a href="#"> اطلاعات بیشتر </a></small>
      </button>
      <button nz-button nzType="text" (click)="downloadPDF()">
        دانلود PDF
        <span nz-icon nzType="file-pdf" nzTheme="outline"></span>
      </button>
      <button nz-button nzType="text" (click)="addBookmark()">
        bookmark
        <span nz-icon nzType="star" nzTheme="outline"></span>
      </button>
    </div>
  </section>

  <section class="item-container">
    <h3 class="item-title">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem,
      aut rerum? Rem sit libero, quam enim omnis, suscipit eius distinctio
      dignissimos fuga doloremque deleniti, magnam eligendi in illum quas
      corrupti.
    </h3>
    <span>متن بخشنامه </span>
    <small> <a href="#">اطلاعات بیشتر</a></small>
  </section>
</div>
