<nz-page-header nzBackIcon>
  <nz-page-header-title> سند ها</nz-page-header-title>
  <nz-page-header-content>
    <nz-card *ngFor="let data of nodeContent">
      <section class="item-container">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" >
         
          <div fxLayout="column" fxLayoutGap="16px" >

            <h3>{{data.title}}</h3>
            <h6>{{data.text}}</h6>
          </div>

          <img
         
            src="../../../../assets/images/expierd.png"
            alt="منسوخ شده"
            class="tag"
          />
        </div>
        <div fxLayout="row" fxLayoutGap="16px" fxLayout.lt-sm="column">
          <button nz-button nzType="text">
            متن بخشنامه
            <small><a href="#"> اطلاعات بیشتر </a></small>
          </button>

          <button
            nz-button
            nzType="text"
            (click)="downloadPDF()"
            class="bdirection"
          >
            <span style="direction: rtl">دانلود pdf</span>
            <span
              nz-icon
              nzType="file-pdf"
              nzTheme="outline"
              style="margin-left: 0.5rem"
            ></span>
          </button>

          <button
            nz-button
            nzType="text"
            (click)="addBookmark()"
            class="bdirection"
          >
            نشانک
            <span
              nz-icon
              nzType="star"
              nzTheme="outline"
              style="margin-left: 0.5rem"
            ></span>
          </button>

          <button
            nz-button
            nzType="text"
            (click)="obsoleteContent(data)"
            class="bdirection"
          >
            تغییر به منسوخ شده
            <span
              nz-icon
              nzType="warning"
              nzTheme="outline"
              style="margin-left: 0.5rem"
            ></span>
          </button>

          <button
            nz-button
            nzType="text"
            (click)="observeGroupModalComponent()"
            class="bdirection"
          >
            تغییر وضعیت دریافت کنندگان
            <span
              nz-icon
              nzType="send"
              nzTheme="outline"
              style="margin-left: 0.5rem"
            ></span>
          </button>
        </div>
      </section>
    </nz-card>
  </nz-page-header-content>
</nz-page-header>


