<div class="container" fxLayout="column" fxLayoutGap="20px">
  <section class="item-container">
    <nz-tag nzColor="error" style="float: left">
      <span nz-icon nzType="close-circle"></span>
      <span>منسوخ شده</span>
    </nz-tag>

    <h3 class="item-title">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem,
      aut rerum? Rem sit libero, quam enim omnis, suscipit eius distinctio
      dignissimos fuga doloremque deleniti, magnam eligendi in illum quas
      corrupti.
    </h3>
    <div fxLayout="row" fxLayoutGap="16px">
      <span>متن بخشنامه </span>
    <a href="#">اطلاعات بیشتر</a>
    <span nz-icon nzType="file-pdf" nzTheme="outline">دانلود فایل PDF</span>
    </div>
  </section>

  <section class="item-container">
    <h3 class="item-title">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem,
      aut rerum? Rem sit libero, quam enim omnis, suscipit eius distinctio
      dignissimos fuga doloremque deleniti, magnam eligendi in illum quas
      corrupti.
    </h3>
    <span>متن بخشنامه </span>
    <small> <a href="#">اطلاعات بیشتر</a></small>
  </section>
</div>
