<form nz-form nzLayout="vertical" [formGroup]="form">
    <nz-form-item>
        <nz-form-label>نمایش سطح </nz-form-label>
        <nz-form-control>
            <input type="text" nz-input  formControlName="level" readonly>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzRequired>عنوان  </nz-form-label>
        <nz-form-control  formControlName="title">
            <input type="text" nz-input  formControlName="title">
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzRequired>شماره کد  </nz-form-label>
        <nz-form-control  formControlName="code">
            <input type="text" nz-input  formControlName="code">
        </nz-form-control>
    </nz-form-item>
</form>