<nz-page-header nzBackIcon>
  <nz-page-header-title>کارتابل شخصی کاربر</nz-page-header-title>
  <nz-page-header-content>
    <nz-card>
      <nz-tabset nzType="line">
        <nz-tab nzTitle=" اسناد پیش نویس">
          <app-cartable-draft-list></app-cartable-draft-list>
        </nz-tab>
        <nz-tab nzTitle=" اسناد ابلاغ شده">
          <app-cartable-notified-list></app-cartable-notified-list>
        </nz-tab>
      </nz-tabset>
    </nz-card>
  </nz-page-header-content>
</nz-page-header>
