<nz-badge [nzDot]="!data.delivered" fxLayout="row" fxLayoutGap="16">
  <div fxFill fxLayout="column">
    <span
      class="message__content"
      nz-typography
      [nzEllipsis]="true"
      [nzEllipsisRows]="1"
      [nzContent]="data.message"
    ></span>
    <span nz-typography nzType="secondary"
      >
      <!-- <small>{{ data.CreatedAt | jalali }}</small> -->
    
    </span> 
  </div>
  <!-- <div
    fxFlex="55"
    fxLayout="column justify-content-center"
    fxLayoutGap="8px"
    nzAlign="middle"
    nzJustify="center"
  >
    <button nz-button nzType="dashed" nzDanger>مشاهده</button>
  </div> -->
</nz-badge>
