nz-layout {
    min-height: 100vh;
 
}


nz-sider {
    /* overflow: auto; */
 
    position: absolute;
    height: 100%;
    right: 0;
    z-index: 99;

}


nz-content {
    overflow: initial;
}

nz-footer {
    text-align: center;
}

i{
    color: black;
}