<nz-layout>
  <nz-sider
    nzCollapsible
    nzBreakpoint="xl"
    [(nzCollapsed)]="isCollapsed"
    [nzCollapsedWidth]="0"
    [nzTrigger]="null"
    [nzWidth]="320"
    nzTheme="light"
    *ngIf="!isMobile; else mobileDrawer"
  >
    <app-layout-slider-menu></app-layout-slider-menu>
  </nz-sider>
  <ng-template #mobileDrawer>
    <nz-drawer
      [nzVisible]="!isCollapsed"
      nzPlacement="right"
      (nzOnClose)="isCollapsed = true"
      [nzBodyStyle]="{ padding: 0 }"
      [nzWidth]="320"
    >
      <ng-container *nzDrawerContent>
        <app-layout-slider-menu></app-layout-slider-menu>
      </ng-container>
    </nz-drawer>
  </ng-template>
  <nz-layout
    [ngStyle]="{
      maxWidth: !isMobile
        ? isCollapsed
          ? '100%'
          : 'calc(100% - 320px)'
        : '100%',
      transition: 'max-width 0.2s',
      marginRight: !isMobile ? 'auto' : 0
    }"
  >
    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutGap="10px"
      fxLayoutAlign="space-between"
      class="bg-header bg-size"
    >
      <div>
        <button nz-button nzType="link" (click)="onCollapse()">
          <i nz-icon nzType="menu" style="color: white"></i>
        </button>
      </div>

      <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="15px">
        <!-- <div *hasRole="['admin']"> -->
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15px">
          <button
            nz-button
            nzType="dashed"
            (click)="PrivateCartableAdmin()"
            nzShape="round"
          >
            کارتابل شخصی ادمین<span
              nz-icon
              nzType="message"
              nzTheme="outline"
            ></span>
          </button>
          <button
            nz-button
            nzType="dashed"
            (click)="createSendGroupMsgModal()"
            nzShape="round"
          >
            ارسال پیام گروهی
            <span nz-icon nzType="message" nzTheme="outline"></span>
          </button>

          <button
            nz-button
            nzType="dashed"
            (click)="createSendUrgentMsgModal()"
            nzShape="round"
          >
            ارسال پیام فوری
            <span nz-icon nzType="message" nzTheme="outline"></span>
          </button>

          <button
            nz-button
            nzType="dashed"
            nzShape="round"
            (click)="UserManagement()"
          >
            تعریف کاربران و دسترسی ها
            <span nz-icon nzType="usergroup-add" nzTheme="outline"></span>
          </button>
          <!-- </div> -->
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15px">
          <!-- <div *hasRole="['customer']"> -->
          <button
            nz-button
            nzType="dashed"
            (click)="PrivateCartable()"
            nzShape="round"
          >
            کارتابل شخصی کاربر<span
              nz-icon
              nzType="message"
              nzTheme="outline"
            ></span>
          </button>
          <button
            nz-button
            nzType="dashed"
            nzShape="round"
            (click)="UploadFile()"
          >
            بارگذاری فایل
            <span nz-icon nzType="upload" nzTheme="outline"></span>
          </button>
          <button
            nz-button
            nzType="dashed"
            nzShape="round"
            [routerLink]="['/', 'customer', 'notifications']"
            style="position: relative;"
          >

       
            <nz-badge [nzCount]="5" style="position: absolute;top: 5px;left: 10px;">
              <a class="head-example"></a>
            </nz-badge>
          
          
            پیام ها
            <i nz-icon nzType="bell" class="icon"></i>
          </button>
          <button
            nz-button
            nzType="dashed"
            (click)="bookmark()"
            nzShape="round"
          >
            bookmarks
            <i nz-icon nzType="star" nzTheme="outline"></i>
          </button>
          <!-- </div> -->
        </div>
        <!-- </div> -->
        <!-- <button
          nz-popconfirm
          nzPopconfirmTitle="میخواهید خارج شوید ؟ "
          (nzOnConfirm)="logout()"
          (nzOnCancel)="cancel()"
          nzPopconfirmPlacement="right"
          nzType="text"
          nz-button
        >
          <i nz-icon nzType="logout" nzTheme="outline"></i>
        </button> -->
      </div>
    </div>

    <nz-content>
      <div class="container" style="margin-top: 20px">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
