<nz-layout>
  <nz-sider
    nzCollapsible
    nzBreakpoint="xl"
    [(nzCollapsed)]="isCollapsed"
    [nzCollapsedWidth]="0"
    [nzTrigger]="null"
    [nzWidth]="320"
    nzTheme="light"
    *ngIf="!isMobile; else mobileDrawer"
  >
    <app-layout-slider-menu></app-layout-slider-menu>
  </nz-sider>
  <ng-template #mobileDrawer>
    <nz-drawer
      [nzVisible]="!isCollapsed"
      nzPlacement="right"
      (nzOnClose)="isCollapsed = true"
      [nzBodyStyle]="{ padding: 0 }"
      [nzWidth]="320"
    >
      <ng-container *nzDrawerContent>
        <app-layout-slider-menu></app-layout-slider-menu>
      </ng-container>
    </nz-drawer>
  </ng-template>
  <nz-layout
    [ngStyle]="{
      maxWidth: !isMobile
        ? isCollapsed
          ? '100%'
          : 'calc(100% - 320px)'
        : '100%',
      transition: 'max-width 0.2s',
      marginRight: !isMobile ? 'auto' : 0
    }"
  >
    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutGap="10px"
      fxLayoutAlign="space-between"
      class="bg-header bg-size"
    >
      <div>
        <button nz-button nzType="link" (click)="onCollapse()">
          <i nz-icon nzType="menu" style="color: white"></i>
        </button>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15px">
        <div
          *ngIf="roleAdmin"
          fxLayout="row"
          fxLayout.lt-md="column"
          fxLayoutGap="15px"
        >
          <!-- <button
            nz-button
            nzType="link"
            (click)="PrivateCartableAdmin()"
            class="text"
          >
            <span nz-icon nzType="bank" nzTheme="outline"></span>
            کارتابل شخصی ادمین
          </button> -->
          <button
            nz-button
            nzType="link"
            (click)="createSendMsgModal()"
            class="text"
          >
            <span nz-icon nzType="message" nzTheme="outline"></span>
            ارسال پیام
          </button>

          <button
            nz-button
            nzType="link"
            (click)="UserManagement()"
            class="text"
          >
            <span nz-icon nzType="usergroup-add" nzTheme="outline"></span>
            تعریف کاربران و دسترسی ها
          </button>
        </div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15px">
          <button
            nz-button
            nzType="link"
            [routerLink]="['/', 'customer', 'notifications']"
            style="position: relative"
            class="text"
          >
            <nz-badge
              [nzCount]="messageCount"
              style="position: absolute; top: 5px; left: 10px"
            >
              <a class="head-example"></a>
            </nz-badge>
            <span nz-icon nzType="bell" nzTheme="outline"></span>
            پیام ها
          </button>
          <button nz-button nzType="link" (click)="bookmark()" class="text">
            <span nz-icon nzType="star" nzTheme="outline"></span>
            بوک مارک ها
          </button>
        </div>
        <!-- </div> -->
        <!-- <button
          nz-popconfirm
          nzPopconfirmTitle="میخواهید خارج شوید ؟ "
          (nzOnConfirm)="logout()"
          (nzOnCancel)="cancel()"
          nzPopconfirmPlacement="right"
          nzType="text"
          nz-button
        >
          <i nz-icon nzType="logout" nzTheme="outline"></i>
        </button> -->
      </div>
    </div>

    <nz-content>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
